<nav class="navbar navbar-expand-md" role="navigation">
  <a routerLink="home" class="navbar-brand">Universe Manager</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <div class="navbar-nav">
      <a class="nav-item nav-link undeline-link" routerLinkActive="active" routerLink="home">Home</a>
      <a class="nav-item nav-link undeline-link" routerLinkActive="active" routerLink="home">Features</a>
      <a class="nav-item nav-link undeline-link" routerLinkActive="active" routerLink="home">Pricing</a>
      <a class="nav-item nav-link undeline-link" routerLinkActive="active" routerLink="home">Disabled</a>
    </div>
  </div>
  <div class="navbar-nav navbar-right">
    <button class="btn nav-item" routerLink="login">log in</button>
    <button class="btn nav-item" routerLink="register">register</button>
  </div>
</nav>